<main class="container-fluid">
  <div class="row justify-content-center">
    <h2 class="col-12 text-center m-5">Cálculo de randoms</h2>
    <div class="col-6">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Cantidad de veces</th>
          </tr>
        </thead>
        <tbody>
          {{#each randoms}}
            <tr>
              <th scope="row">{{this.number}}</th>
              <td>{{this.quantity}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</main>