b {
  font-weight: bold;
  color: blue;
}
.time {
  color: brown;
}
.mensaje {
  font-style: italic;
  color: green;
}

#messages input,
#messages button,
#messages label {
  font-weight: bold;
  align-self: center;
  max-width: 20rem;
}
